@using Booking.Areas.FrontOffice.Models.Input;
@model AddRoomDTO
@{
    ViewData["Title"] = "Rooms";
}
<style>
    input[type=file]
    {
        display:block !important;
    }
</style>

<div class="row mt-3">
    <div class="col-lg-12">
        <form id="roomForm" >
            <div class="row formtype">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="roomNumber">Name<span class="required-star">*</span></label>
                        <input type="text" class="form-control" id="roomNumber" name="roomNumber" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="roomType">Room Type<span class="required-star">*</span></label>
                        <select id="roomType" name="roomType" class="form-select select2" required>
                            @if (Model?.roomTypeModel != null)
                            {
                                <option value="">Select</option>
                                foreach (var roomType in Model?.roomTypeModel)
                                {
                                    <option value="@roomType.RoomTypeId">@roomType.TypeName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="bedType">Bed Type<span class="required-star">*</span></label>
                        <select id="bedType" class="form-select select2" name="bedType" required>
                            @if (Model != null && Model?.bedTypeModel != null)
                            {
                                <option value="">Select</option>
                                foreach (var bedType in Model?.bedTypeModel)
                                {
                                    <option value="@bedType.BedTypeId">@bedType.TypeName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Charges For cancellation<span class="required-star">*</span></label>
                        <select class="form-select select2" id="cancellationType" name="cancellationType">
                            <option value="">Select</option>
                            <option value="1">Free</option>
                            <option value="2">5% Before 24Hours</option>
                            <option value="3">No Cancellation Allow</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Quantity">Quantity<span class="required-star">*</span></label>
                        <input type="number" class="form-control" id="Quantity" name="Quantity" required min="1" max="100">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Payment<span class="required-star">*</span></label>
                        <select class="form-select select2" id="payment" name="payment">
                            <option value="">Select</option>
                            <option value="1">No prepayment needed – pay at the property</option>
                            <option value="2">50% prepayment needed</option>
                            <option value="3">Full payment needed</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="maxOccupancy">Max No of Adults<span class="required-star">*</span></label>
                        <input type="number" class="form-control" id="maxOccupancy" name="maxOccupancy" min="1" max="20" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="maxChild">Max No of Child<span class="required-star">*</span></label>
                        <input type="number" class="form-control" id="maxChild" name="maxChild" required min="0" max="10">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Rent<span class="required-star">*</span></label>
                        <input type="number" class="form-control" id="rate" name="rate" required min="0" max="100000">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Image Upload</label>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="roomImages" multiple name="roomImages" onchange="UploadAttachments(this)">
                           @*  <label class="custom-file-label" for="customFile">Choose file</label> *@
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="3" id="description" name="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="bottom-btn">
                        <button type="button" onclick="SaveRoomDetails()" class="btn btn-primary ">Save</button>
                        <a class="btn btn-secondary" href="/view-room-details">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<input type="hidden" id="RoomId" value="@ViewBag.RoomId" />




<partial name="_ValidationScriptsPartial" />
<partial name="_SelectScriptPartial" />

<script src="~/assets/plugins/sweetalert/sweetalert.js"></script>
<script src="~/assets/js/ckeditor.js"></script>
<script src="~/assets/js/backoffice/rooms.js"></script>
<script src="~/assets/js/ajaxconnector.js"></script>
<script>
    var editor1;
    $(document).ready(function () {
        ClassicEditor
            .create(document.querySelector('#description'), {
                removePlugins: ['ImageUpload', 'EasyImage'],
            })
            .then(editor => {
                editor1 = editor;
            })
            .catch(error => {
                console.error(error);
            });


        page.init();
        if ('@ViewBag.RoomId' > 0) {
            GetRoomDetailsById('@ViewBag.RoomId');
        }
    });
</script>

