@model List<RoomsDTO>
@{
    Layout = "_BackOfficeLayout";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">

<form id="frmRoomDetails" asp-area="BackOffice" asp-controller="Rooms" asp-action="AddRoomDetails">
    <input type="hidden" id="RoomId" name="RoomId" value="" />
</form>

<div class="content-wrapper">
    <div class="page-header">
        <div class="row align-items-center section-background">
            <div class="col">
                <div class="mt-2">
                    <h4 class=" float-left mt-2">Rooms</h4> <a href="/add-room-details" class="btn btn-primary float-right veiwbutton">Add Room</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body booking_card">
                    <div class="table-responsive">
                        <table class="datatable table table-stripped table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Room Number</th>
                                    <th>Room Type</th>
                                    <th>Bed Type</th>
                                    <th>Max Occupancy</th>
                                    <th>Rate</th>
                                    <th>Description</th>
                                    <th>Room Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var room in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a class="edit-icon" onclick="openEditMode(@room.RoomId)"><i class="fas fa-edit"></i>Edit</a>
                                                <a href="add-room-details?RoomId=@room.RoomId"><i class="fas fa-edit"></i>Edit</a>
                                                <a onclick="DeleteRoom(@room.RoomId)"><i class="fas fa-trash-alt"></i>Delete</a>
                                            </td>
                                            <td>@room.RoomNumber</td>
                                            <td>@room.RoomType</td>
                                            <td>@room.BedType</td>
                                            <td>@room.MaxOccupancy</td>
                                            <td>@room.Rate</td>
                                            <td>@room.Description</td>
                                            <td>@room.RoomStatus</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="delete_asset" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="assets/img/sent.png" alt="" width="50" height="46">
                <h3 class="delete_class">Are you sure want to delete this Asset?</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/datatables.min.js"></script>
<script>
    function openEditMode(itemId) {
        // Set the value of the hidden input field
        document.getElementById('RoomId').value = itemId;
        // Submit the form
        $('#frmRoomDetails').submit();
    }
</script>