@model List<RoomsDTO>
@{
    ViewData["Title"] = "Rooms";

}

<form id="frmRoomDetails" asp-area="BackOffice" asp-controller="Rooms" asp-action="AddRoomDetails">
    <input type="hidden" id="RoomId" name="RoomId" value="" />
</form>


<div class="add-btn-section">
    <a href="/add-room-details" class="btn btn-primary float-right">Add Room</a>
</div>
<div class="col-md-12">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Bed Type</th>
                <th>Max Occupancy</th>
                <th>Rate</th>
                <th>Description</th>
                @* <th>Room Status</th> *@
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count>0)
            {
                foreach (var room in Model)
                {
                    <tr>
                        <td>
                            <a class="edit-icon" onclick="openEditMode(@room.RoomId)"><i class="fas fa-edit"></i></a>
                            <a onclick="DeleteRoom(@room.RoomId)"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        <td>@room.RoomNumber</td>
                        <td>@room.RoomType</td>
                        <td>@room.BedType</td>
                        <td>@room.MaxOccupancy</td>
                        <td>@room.Rate</td>
                        <td>@Html.Raw(room.Description)</td>
                        @* <td>@room.RoomStatus</td> *@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<partial name="_DataTableScriptPartial" />
<script src="~/assets/plugins/sweetalert/sweetalert.js"></script>
<script src="~/assets/js/ajaxconnector.js"></script>
<script src="~/assets/js/backoffice/rooms.js"></script>
<script>

    $(document).ready(function () {
        ApplyCommonGridStyle();
    });

    function openEditMode(itemId) {
        // Set the value of the hidden input field
        $('#RoomId').val(itemId);
        // Submit the form
        $('#frmRoomDetails').submit();
    }
</script>