@using System.Globalization;
@model BookingRegistrationDTO;

@{
    ViewData["Title"] = "Rooms";
    string image = string.Empty;
    decimal grandTotal = 0;
}
<style>

    .room-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .room-info {
        text-align: right;
        border-bottom: 1px solid black;
    }


    /* Style the checkout-card container */
    .checkout-card {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    /* Style the room details within the checkout-card */
    /*  .room-details {
            margin: 20px 0;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
        } */

    /* Style the room title (Name) */
    .room-title h4 {
        font-size: 18px;
        color: #333;
    }

    /* Style the room info (Price and Quantity) */
    .room-info p {
        font-size: 16px;
        color: #666;
    }

    /* Style the Check In and Check Out sections */
    h4 {
        font-size: 18px;
        color: #333;
        margin: 10px 0;
    }

    /* Style the panel */
    .panel {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 15px;
        margin: 10px;
    }

    .panel-heading {
        background-color: #5bc0de;
        color: #fff;
        padding: 10px;
    }

    .panel-title {
        font-size: 18px;
    }

    .panel-body p {
        margin: 0;
        font-size: 16px;
    }

    .panel-total {
        background-color: #5bc0de;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 16px;
    }

    .panel-grand-total {
        text-align: right; /* Move the text to the right */
        font-weight: bold; /* Make the text bold */
    }

</style>
<!-- BEGIN: Page Title Section ======================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Customer Information</h2>
            </div>
        </div>
    </div>
</section>

<form id="frmSelectRoom" method="get" asp-area="FrontOffice" asp-controller="BookMyRoom" asp-action="ViewMoreRooms">
    <input type="hidden" id="Params" name="Params" value="@ViewBag.FParams" />

</form>
<button id="rzp-button1" style="display:none">Pay</button>
<input type="hidden" id="paymentOrder" name="paymentOrder" value="" />

<!-- END: Page Title Section ========================================= -->
<section id="featued-sec" class="section">
    <div class="container">
        <div class="row">

            <div class="sub-panel">
                <div class="sub-panel-header">
                    <h4>Booking Info</h4>
                </div>
                <div class="sub-panel-body row">
                    <div class="col-md-6">
                        <div class="checkout-card">
                            <h2 class="section-title text-center">Booking Details</h2>

                            <div class="panel">
                                <div class="panel-body">
                                    <strong>Check In:</strong> @Model?.bookingQueryDTO?.CheckInDate<br />
                                    <strong>Check Out:</strong> @Model?.bookingQueryDTO?.CheckOutDate<br />

                                    @{
                                        DateTime? checkInDate = null;
                                        DateTime? checkOutDate = null;

                                        if (!string.IsNullOrEmpty(Model?.bookingQueryDTO?.CheckInDate))
                                        {
                                            checkInDate = DateTime.ParseExact(Model.bookingQueryDTO.CheckInDate, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                        }

                                        if (!string.IsNullOrEmpty(Model?.bookingQueryDTO?.CheckOutDate))
                                        {
                                            checkOutDate = DateTime.ParseExact(Model.bookingQueryDTO.CheckOutDate, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                        }

                                        int totalLengthOfStay = 0;
                                        if (checkInDate.HasValue && checkOutDate.HasValue)
                                        {
                                            totalLengthOfStay = (checkOutDate - checkInDate).Value.Days;
                                        }
                                    }

                                    <div>
                                        <strong>Total stay: @totalLengthOfStay days</strong>
                                    </div>
                                </div>
                            </div>


                            @if (Model != null)
                            {
                                if (Model?.finalBookingDetails != null && Model?.finalBookingDetails.Count > 0)
                                {

                                    <div class="panel">

                                        @foreach (var item in Model?.finalBookingDetails)
                                        {
                                            <div class="room-details">
                                                <div class="room-title">
                                                    <h3>@item.Name</h3>
                                                </div>
                                                <div class="room-info">
                                                    <p><strong>Price:</strong> ₹ @item.Amount?.ToString("F2")</p>
                                                    <p><strong>Quantity:</strong> @item.Count</p>
                                                    @{
                                                        decimal? Total = item.Amount * item.Count;
                                                        grandTotal += Total ?? 0;
                                                    }
                                                    <p><strong>Total:</strong> ₹ @Total?.ToString("F2")</p>
                                                </div>
                                            </div>
                                        }

                                        <div class="panel-grand-total">
                                            <p><strong>Grand Total:</strong> ₹ @grandTotal.ToString("F2")</p>
                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    </div>



                    <div class="col-md-6">
                        <form id="frmCustomerDetails" method="post" asp-area="FrontOffice" asp-controller="BookMyRoom" asp-action="ConfirmBooking">
                            <input id="paymentId" type="hidden" name="paymentId" />
                            <input id="Orderid" type="hidden" name="Orderid" />
                            <input id="sign" type="hidden" name="sign" />
                            <input type="hidden" id="BookingParams" name="BookingParams" value="@ViewBag.BParams" />
                            <input type="hidden" id="CheckIn" name="CheckIn" value="@Model?.bookingQueryDTO?.CheckInDate" />
                            <input type="hidden" id="CheckOut" name="CheckOut" value="@Model?.bookingQueryDTO?.CheckOutDate" />
                            <h2 class="section-title text-center">Customer Information</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="FirstName">First Name:</label>
                                        <input type="text" class="form-control" onkeyup="AllowCharactersOnly(this.id)" id="FirstName" name="FirstName" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="LastName">Last Name:</label>
                                        <input type="text" class="form-control" onkeyup="AllowCharactersOnly(this.id)" id="LastName" name="LastName" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="EmailAddress">Email Address:</label>
                                        <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="MobileNumber">Mobile Number:</label>
                                        <input type="text" class="form-control" maxlength="10" onkeyup="AllowNumbersOnlyPhone(this.id)" id="MobileNumber" name="MobileNumber" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bottom-btn">
                                        <a onclick="ConfirmAndPay()" class="btn btn-primary ">Confirm and Pay</a>
                                        <a class="btn btn-secondary" onclick='$("#frmSelectRoom").submit()'>Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<partial name="_ValidationScriptsPartial" />

<script src="~/assets/plugins/sweetalert/sweetalert.js"></script>
<script src="~/assets/js/frontoffice/register.js"></script>
<script src="~/assets/js/commonfunction.js"></script>
<script src="~/assets/js/ajaxconnector.js"></script>

<script>
    $(document).ready(function () {
        page.init();
    });

</script>

