@using System.Globalization;
@model SingleRoomDetails;

<!-- BEGIN: Page Title Section ======================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>View Room</h2>
            </div>
        </div>
    </div>
</section>

<form id="frmSelectRoom" method="get" asp-area="FrontOffice" asp-controller="BookMyRoom" asp-action="ViewMoreRooms">
    <input type="hidden" id="Params" name="Params" value="@ViewBag.BParams" />
</form>
<!-- END: Page Title Section ========================================= -->
<!-- BEGIN: Search Section ========================================= -->
<!-- END: Search Section ========================================= -->
<!-- BEGIN: Featured Section ==================================== -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 vrd-section">
                <h2>Treebo Trend Windsor Heights</h2>
                <p><i class="fas fa-location-dot"></i> Nilavoor to pallakaniyur, 635853 Yelagiri.</p>
            </div>
            <article class='gallery'>
                @if (Model != null && Model.roomDetails != null && Model.roomDetails.Images != null)
                {
                    string[] ImageData = Model.roomDetails.Images.Split('$');
                    if (ImageData.Length > 0)
                    {
                        foreach (var item in ImageData)
                        {
                            <a class="gallery-link" href="Attachments/RoomImages/@item">
                                <figure class="gallery-image">
                                    <img height="1400" src="Attachments/RoomImages/@item" width="1600">
                                </figure>
                            </a>
                        }
                    }
                }
            </article>
          @*   <article class='gallery'>

                <a class='gallery-link' href='assets/images/slider/slider1.jpg'>
                    <figure class='gallery-image'>
                        <img height='1400' src='assets/images/slider/slider1.jpg' width='1600'>
                        <!--<figcaption>Photo caption</figcaption>-->
                    </figure>
                </a>
                <a class='gallery-link' href='assets/images/slider/slider2.jpg'>
                    <figure class='gallery-image'>
                        <img height='1200' src='assets/images/slider/slider2.jpg' width='1600'>
                        <!--<figcaption>Photo caption</figcaption>-->
                    </figure>
                </a>
                <a class='gallery-link' href='assets/images/slider/slider3.jpg'>
                    <figure class='gallery-image'>
                        <img height='1600' src='assets/images/slider/slider3.jpg' width='1400'>
                        <!--<figcaption>Photo caption</figcaption>-->
                    </figure>
                </a>

                <a class='gallery-link' href='assets/images/rooms/room1.jpg'>
                    <figure class='gallery-image'>
                        <img height='1000' src='assets/images/rooms/room1.jpg' width='1600'>
                        <!--<figcaption>Photo caption</figcaption>-->
                    </figure>
                </a>
                <a class='gallery-link' href='assets/images/rooms/room2.jpg'>
                    <figure class='gallery-image'>
                        <img height='1400' src='assets/images/rooms/room2.jpg' width='1600'>
                        <!--<figcaption>Photo caption</figcaption>-->
                    </figure>
                </a>


            </article>
 *@
            <div class="room-desc">
                @Html.Raw(Model?.roomDetails?.Description)
            </div>

            <div class="pricing-details-room">
                @{
                    // Assuming ViewBag.CheckIn and ViewBag.CheckOut are in the format "dd/mm/yyyy"
                    DateTime? checkInDate = DateTime.ParseExact(Model?.bookingQueryData?.CheckInDate, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                    DateTime? checkOutDate = DateTime.ParseExact(Model?.bookingQueryData?.CheckOutDate, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                    TimeSpan? timeSpan = checkOutDate - checkInDate;
                    int? days = timeSpan?.Days;

                    double TotalPrice = Convert.ToDouble((Model?.roomDetails ? .Rate * days));
                    double tax = TotalPrice * 0.05;
                    tax = Math.Round(tax, 2);

                }
                <p>@days days @(Model?.roomDetails?.MaxOccupancy > 0 ? Model?.roomDetails.MaxOccupancy + "adults" : "")   @(Model?.roomDetails?.MaxChild > 0 ? Model?.roomDetails.MaxChild + "child" : "")</p>
                
                <h5>₹ @TotalPrice</h5>
                <p>+₹ @tax taxes and charges</p>

            </div>
            <ul>
                @* <li><i class="fas fa-check"></i>Breakfast included in the price</li> *@
                @if (@Model?.roomDetails?.CancelationCharge != "")
                {
                    <li><i class="fas fa-check"></i>@Model?.roomDetails?.CancelationCharge</li>
                }
                @if (Model?.roomDetails?.Payment != "")
                {
                    <li><i class="fas fa-check"></i>@Model?.roomDetails?.Payment</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a onclick='$("#frmSelectRoom").submit()' class='btn btn-info'>Go BAck</a>

            </div>
        </div>
    </div>
</section>

<!-- END: Featured Section ==================================== -->
<!-- BEGIN: Page Refrence ========================= -->
<!-- Photo Gallery Refrence ================= -->
<link href="assets/plugins/gallery/css/magnific-popup.min.css" rel="stylesheet" />
<link href="assets/plugins/gallery/css/gallery.css" rel="stylesheet" />
<script src="assets/plugins/gallery/js/jquery.magnific-popup.min.js"></script>
<!-- END: Page Refrence ========================= -->


<script>
  
    (function () {
        $('.gallery-link').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            closeBtnInside: false,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            image: {
                verticalFit: true,
                titleSrc: function (item) {
                    return item.el.find('figcaption').text() || item.el.attr('title');
                }
            },
            zoom: {
                enabled: true
            },
            // duration: 300
            gallery: {
                enabled: true,
                navigateByImgClick: false,
                tCounter: ''
            },
            disableOn: function () {
                return $(window).width() > 640;
            }
        });

    }).call(this);
</script>

