@using System.Globalization;
@model RoomandEventDetailsDTO
@{
    ViewData["Title"] = "Home";
}
<style>

    /* Checkout Card styles */
    .checkout-card {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px; /* Adjust the width as needed */
        margin: 0 auto;
    }

    /* Section title styles */
    .section-title {
        text-align: center;
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    /* Booking details styles */
    .booking-details {
        margin: 20px 0;
    }

    /* Room details styles */
    .room-details {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }

    .room-name {
        font-size: 18px;
        color: #333;
        margin: 10px;
    }

    /* Room price and quantity styles */
    .room-price, .room-quantity {
        font-size: 14px;
        color: #666;
        margin: 0;
    }

    /* Room total styles */
    .room-total {
        font-size: 16px;
        color: #333;
        margin: 0;
    }

    /* Total amount styles */
    .total-amount {
        text-align: right;
        font-size: 18px;
        color: #333;
        margin-top: 20px;
    }

    /* Proceed button styles */
    .proceed-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }

        .proceed-button:hover {
            background-color: #0056b3;
        }



    /* styles.css */
    .rooms-panel {
        background-color: #f4f4f4;
        padding: 12px;
        border-radius: 10px;
    }

    .hotel-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        margin: 10px 0;
        padding: 10px;
        border: 2px solid #007BFF;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .hotel-info {
        flex: 1;
    }

        .hotel-info h4 {
            font-size: 20px;
            color: #333;
        }




    table {
        width: 100%;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    .section th {
        background-color: #002349;
        color: #fff;
    }

    tbody tr:hover {
        background-color: #ecf0f1;
    }

    tfoot {
        font-weight: bold;
    }

        tfoot td {
            border-top: 2px solid #333;
            padding-top: 12px;
        }

            tfoot td:first-child {
                text-align: right;
            }

    #search-sec {
        margin-left: 12rem;
        position: initial;
    }

       .slider {
        width: 100%; /* Set the width of the slider container */
        margin: 0 auto;
    }

        .slider img {
            max-width: 100%; /* Set the maximum width of the images */
            height: auto; /* Maintain the aspect ratio of the images */
        }

</style> 

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

<form id="frmSelectRoom" method="get" asp-area="FrontOffice" asp-controller="BookMyRoom" asp-action="SingleRoomDetails">
    <input type="hidden" id="roomId" name="roomId" value="" />
    <input type="hidden" id="Params" name="Params" value="@ViewBag.FParams" />
</form>
<form id="frmRegisterRoom" method="get" asp-area="FrontOffice" asp-controller="BookMyRoom" asp-action="RegisterCustomer">
    <input type="hidden" id="BParams" name="BParams" value="" />
    <input type="hidden" id="FilterParams" name="FilterParams" value="@ViewBag.FParams" />
</form>

<!-- BEGIN: Search Section ========================================= -->
<section id="search-sec">
    <div class="container-fluid search-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Search</h2>
                </div>
            </div>
            <form id="frmRoomFilter" method="get" asp-area="FrontOffice" asp-controller="BookMyRoom" asp-action="ViewMoreRooms">
                <div class="row">
                    <div class="col col-12 col-sm-6 col-lg-3 col-xl">
                        <div class="form-group">
                            <label>Check-in Date</label>
                            <input asp-for="roomFilterDTO.CheckInDate" id="CheckInDate" type="text" class="form-control date-picker" placeholder="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-lg-3 col-xl">
                        <div class="form-group">
                            <label>Check-out Date</label>
                            <input asp-for="roomFilterDTO.CheckOutDate" id="CheckOutDate" type="text" class="form-control date-picker" placeholder="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-lg-3 col-xl">
                        <div class="form-group">
                            <label>Adults</label>
                            <select class="form-select" asp-for="roomFilterDTO.Adults">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-lg-3 col-xl">
                        <div class="form-group">
                            <label>Children</label>
                            <select class="form-select" asp-for="roomFilterDTO.Children">
                                <option>(Select)</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-lg-3 col-xl" style="display:none">
                        <div class="form-group">
                            <label>Rooms</label>
                            <select class="form-select" asp-for="roomFilterDTO.Rooms">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-lg-3 col-xl">
                        <div class="form-group">
                            <label>Room Type</label>
                            <select class="form-select" asp-for="roomFilterDTO.RoomType">
                                <option value="-1">All</option>
                                <option value="0">AC</option>
                                <option value="1">NON-AC</option>

                            </select>
                        </div>
                    </div>
                    <div class="col col-12 col-lg-12 col-xl text-center">
                        <div class="form-group">
                            <label class="d-md-block">&nbsp;</label>
                            <a class="btn btn-primary" onclick="$('#frmRoomFilter').submit();">Check Availability</a>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<!-- END: Search Section ========================================= -->
<!-- BEGIN: Featured Section ==================================== -->
<section id="featued-sec" class="section">
    <div class="container">
        <div class="row">


            @if (Model != null && Model.RoomDetails != null && Model.RoomDetails.Count > 0)
            {
                <div class="col-md-12">
                    <h2 class="section-title text-center">Available Rooms</h2>
                </div>
                <div class="col-md-8">
                    @foreach (var item in Model.RoomDetails)
                    {
                        string image = string.Empty;
                        double DiscountAmount = 0;
                        @if (item != null && item.Images != null && item.Images != "")
                        {
                            string[] ImageData = item.Images.Split('$');
                            if (ImageData.Length > 0)
                            {

                                image = ImageData[0];

                            }
                        }
                        <div class="col-md-12">
                            <div class="rooms-panel" style="position: relative;">
                                <div class="rooms-img">

                                    @if (item != null && item.Images != null && item.Images != "")
                                    {
                                        string[] allimages = item.Images.Split("$");
                                        <div class="slider">
                                            @foreach (var item1 in allimages)
                                            {
                                                if (item1 != "")
                                                {
                                                    <div><img src="~/Attachments/RoomImages/@item1" alt="Room Image"></div>
                                                }
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <img src="assets/images/rooms/room1.jpg" alt="Room" class="img-fluid" />

                                    }


                               
                                
                                
                                </div>
                                <div class="room-discription">
                                    <div class="room-title">
                                        <h4><a href="javascript:void(0);" onclick="openEditMode(@item.RoomId)">@item.RoomNumber</a></h4>
                                    </div>
                                    <div class="">
                                        <p><b>@item.RoomType</b></p>
                                        @item.BedType
                                    </div>
                                    <ul>
                                        @if (!string.IsNullOrEmpty(item?.CancelationCharge))
                                        {
                                            <li><i class="fas fa-check"></i>@item.CancelationCharge</li>
                                        }
                                        @if (!string.IsNullOrEmpty(item?.Payment))
                                        {
                                            <li><i class="fas fa-check"></i>@item.Payment</li>
                                        }
                                    </ul>
                                    <div class="pricing-details">
                                        @{
                                            // Assuming ViewBag.CheckIn and ViewBag.CheckOut are in the format "dd/mm/yyyy"
                                            DateTime? checkInDate = DateTime.ParseExact(Model?.roomFilterDTO?.CheckInDate, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                            DateTime? checkOutDate = DateTime.ParseExact(Model?.roomFilterDTO?.CheckOutDate, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                            TimeSpan? timeSpan = checkOutDate - checkInDate;
                                            int? days = timeSpan?.Days;

                                            double TotalPrice = Convert.ToDouble((item?.Rate * days));
                                            double tax = TotalPrice * 0.05;
                                            tax = Math.Round(tax, 2);

                                        }
                                        <p>@days days @(item?.MaxOccupancy > 0 ? item.MaxOccupancy + " adults" : "")   @(item?.MaxChild > 0 ? item.MaxChild + " child" : "")</p>
                                        @if (item?.DiscountId > 0)
                                        {
                                            DiscountAmount = Convert.ToDouble(TotalPrice) - Convert.ToDouble(TotalPrice * Convert.ToDouble(item?.DiscountPercentage)) / 100;
                                            <h5><strike>₹ @TotalPrice</strike> ₹ @DiscountAmount.ToString("F2")</h5>

                                            TotalPrice = DiscountAmount;
                                        }
                                        else
                                        {
                                            <h5>₹ @TotalPrice.ToString("F2")</h5>
                                        }
                                        @* <p>+ ₹ @tax taxes and charges</p> *@
                                    </div>
                                    @if (item.AvailableQuantity < 5 && item.TotalReservedQuantity > 0)
                                    {
                                        <p style="color:red">only @item.AvailableQuantity rooms are available more Hurry up!!</p>
                                    }
                                    else if (item.TotalReservedQuantity <= 0)
                                    {
                                        <p style="color:red">Waitlist only available  Hurry up!!</p>

                                    }
                                    @if (item?.DiscountId > 0)
                                    {
                                        @* style = "position: absolute; top: 10px; right: 10px; background-color: #FF0000; color: #FFF; padding: 5px;" *@
                                        <!-- Add Discount label at the top-right corner -->
                                        <div class="discount-ribbon">
                                            Discount @string.Format("{0:0.##}", item?.DiscountPercentage) %
                                        </div>
                                    }
                                    <!-- Move the <select> element to the right-center and apply Select2 styling -->
                                    <div class="select-room " style="height: 100%;">
                                        <select class="select2-without-search roomselection" data-attr="@item.RoomNumber" data-amount="@TotalPrice" data-roomid="@item.RoomId" data-discount="@item.DiscountId">
                                            <option value="">Select</option>
                                            @if (item.AvailableQuantity < 5)
                                            {
                                                @for (int i = 1; i <= @item.AvailableQuantity; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            }
                                            else
                                            {
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div>
                                    @foreach (var eventitem in Model.events)
                                    {
                                        string image1 = string.Empty;

                                        @if (eventitem != null && eventitem.Images != null && eventitem.Images != "")
                                        {
                                            string[] ImageData = eventitem.Images.Split('$');
                                            if (ImageData.Length > 0)
                                            {

                                                image1 = ImageData[0];

                                            }
                                        }
          @*                               <div class="rooms-img">
                                            <img src="@(string.IsNullOrEmpty(image1) ? "assets/images/rooms/room1.jpg" : "Attachments/EventImages/" + image1)" alt="Room" class="img-fluid" />
                                        </div> *@
                                        <input type="checkbox" id="@("event" + eventitem.EventID)" class="eventslist" data-attr="@("roomevent" + item.RoomId)" data-price="@eventitem.Price" />
                                       <label>@eventitem.EventType</label>
                                       <label>@eventitem.Price</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="rooms-panel" id="@("bookingInfo_" + item.RoomId)" data-roomid="@item.RoomId">
                                <h4 class="">No Room Selected </h4>
                            </div>
                        </div>
                    }
                </div>


            }
            else
            {
                <div class="col-md-12">
                    <h2 class="section-title text-center">No Rooms Available For Selected Date.</h2>
                </div>
            }


        </div>
    </div>
</section>
<!-- END: Featured Section ==================================== -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<partial name="_DatepickerPartial" />
<partial name="_SelectScriptPartial" />
<script src="~/assets/js/ajaxconnector.js"></script>



<script>

      $(document).ready(function () {
        $('.slider').slick({
            autoplay: true,
            autoplaySpeed: 1000,
            dots: false, // Hide the dots
            infinite: true,
            speed: 1000,
            fade: true,
            cssEase: 'linear',
           
        });
    });

    function openEditMode(itemId) {
        // Set the value of the hidden input field
        $('#roomId').val(itemId);
        // Submit the form
        $('#frmSelectRoom').submit();
    }

    function ViewMoreRoom() {
        $('#frmviewRoom').submit();
    }

    // Initialize the CheckInDate datepicker
    $('#CheckInDate').datepicker({
        orientation: "left",
        autoclose: true,
        format: 'dd/mm/yyyy',
        startDate: new Date(),
        todayBtn: false,
        todayHighlight: true,
    }).datepicker("setDate", "0").on('changeDate', function (ev) {
        // When the CheckInDate changes, update the start date of CheckOutDate
        var selectedDate = new Date(ev.date);
        var selectedCheckOutDate = $('#CheckOutDate').datepicker('getDate');
        var selectedDate = new Date(ev.date);
        selectedDate.setDate(selectedDate.getDate() + 1); // Add one day

        // Check if the selected CheckOutDate is lower than CheckInDate
        if (selectedCheckOutDate < selectedDate) {
            // If it's lower, set CheckOutDate to CheckInDate
            $('#CheckOutDate').datepicker('setDate', selectedDate);
        }
        $('#CheckOutDate').datepicker('setStartDate', selectedDate);

    });
    // Calculate tomorrow's date
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    $('#CheckOutDate').datepicker({
        orientation: "left",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayBtn: false,
        todayHighlight: true,
        startDate: tomorrow,
    }).datepicker("setDate", tomorrow);

    var SelectedRooms = [];
    var SelectedEvents = [];
    $(".roomselection,.eventslist").change(function () {
        debugger
        SelectedRooms = [];
        // Find the select element with the "roomselection" class
        var roomId = parseInt($(this).attr("data-roomid") || 0)

        $(".roomselection").each(function () {

            var selectElement = $(this);
            var selectedOption = selectElement.find("option:selected");
            var selectedValue = parseInt(selectedOption.val());
            var dataAttrValue = selectElement.data("attr");
            var dataamount = parseFloat(selectElement.data("amount"));
            var discount = parseFloat(selectElement.data("discount"));
            var roomId = parseFloat(selectElement.data("roomid"));

            if (selectedValue > 0) {
                SelectedRooms.push({
                    "Name": dataAttrValue,
                    "Count": selectedValue,
                    "Amount": dataamount,
                    "RoomId": roomId,
                    "DiscountId": discount,
                    "TotalAmount": dataamount * selectedValue
                });
            }
        });

       @*  $(".SelectedEvents").each(function () {

            var selectElement = $(this);
            var selectedOption = selectElement.find("option:selected");
            var selectedValue = parseInt(selectedOption.val());
            var dataAttrValue = selectElement.data("attr");
            var dataamount = parseFloat(selectElement.data("amount"));
            var discount = parseFloat(selectElement.data("discount"));
            var roomId = parseFloat(selectElement.data("roomid"));

            if (selectedValue > 0) {
                SelectedRooms.push({
                    "Name": dataAttrValue,
                    "Count": selectedValue,
                    "Amount": dataamount,
                    "RoomId": roomId,
                    "DiscountId": discount,
                    "TotalAmount": dataamount * selectedValue
                });
            }
        }); *@

        

        BindBookings(roomId);
    });

    function BindBookings(roomId) {

        // Clear the previous content in the div
        $("#bookingInfo_" + roomId).empty();

        var totalAmount = 0;

        const selectedRoomsWithRoomIdOne = SelectedRooms.filter(room => room.RoomId === roomId);


        if (selectedRoomsWithRoomIdOne.length > 0) {
            var roomDiv = '<table> <thead><tr><th></th><th>Quantity</th > <th>Amount </th></tr></thead > ' +
                '<tbody>';
            for (var i = 0; i < selectedRoomsWithRoomIdOne.length; i++) {
                debugger
                var dataEntry = selectedRoomsWithRoomIdOne[i];
                var roomTotalAmount = dataEntry.Amount * dataEntry.Count;
                totalAmount += roomTotalAmount;
                // Create a div for each room detail

                roomDiv += '<tr><td>' + dataEntry.Name + '</td>' +
                    '<td>' + dataEntry.Count + '</td>' +
                    '<td> ₹ ' + parseFloat(roomTotalAmount).toFixed(2) + '</td></tr>';

                if (i == (selectedRoomsWithRoomIdOne.length - 1)) {

                    if (selectedRoomsWithRoomIdOne.length > 0) {
                        // Display the total amount above the "Proceed" button and make it bold
                        roomDiv += '</tbody><tfoot><tr>' +
                            '<td colspan="2"><strong>Total Amount</strong></td>' +
                            '<td><strong>₹ ' + parseFloat(totalAmount).toFixed(2) + '</strong></td>' +
                            '</tr></tfoot></table>';

                        $("#bookingInfo_" + roomId).append(roomDiv);
                        var btndesign = '<div class="justify-content-center form-group col-md-12"><button class="proceed-button btn btn-primary btn-sm" onclick="ProceedNext(roomId)">Proceed</button></div>';
                        $("#bookingInfo_" + roomId).append(btndesign);
                    }

                }
            }
        }
        else {
            // Display a message when no rooms are selected
            var norecorddesign = '<h4 class="no-room-selected">No Room Selected</h4>';
            $("#bookingInfo_" + roomId).append(norecorddesign);
        }
    }

    const ProceedNext = async () => {
        var data = {
            finalBookingDetails: SelectedRooms,
            FilterParams: $('#Params').val()
        }
        var result = await APIPostMethod('/process-data', data)

        if (result != null) {
            $('#BParams').val(result);
            $('#frmRegisterRoom').submit();
        }
    }
    if (@Model?.roomFilterDTO?.CheckInDate != "") {
        $('#CheckInDate').datepicker('setDate', '@Model?.roomFilterDTO?.CheckInDate').trigger('change');
    }
    if (@Model?.roomFilterDTO?.CheckOutDate!= "") {
        $('#CheckOutDate').datepicker('setDate', '@(Model?.roomFilterDTO?.CheckOutDate)');
    }
</script>
