@model List<BookingDTO>
@{
    Layout = "_BackOfficeLayout";
    ViewData["Title"] = "Booking";
}

<div class="col-md-12 mt-3">
    <table class="table table-stripped table-bordered table-hover table-center mb-0">
        <thead>
            <tr>
                <th>Room Name</th>
                <th>Room Type</th>
                <th>Quantity</th>
                <th>CheckIn Date</th>
                <th>CheckOut Date</th>
                <th>Booking Date</th>
                <th>Name</th>
                <th>Email ID</th>
                <th>Ph.Number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model !=null && Model.Count>0)
            {
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.RoomName</td>
                        <td>@booking.RoomType</td>
                        <td>@booking.Quantity</td>
                        <td>@booking.CheckInDate</td>
                        <td>@booking.CheckOutDate</td>
                        <td>@booking.BookingDate</td>
                        <td>@booking.CustomerName</td>
                        <td>@booking.Email</td>
                        <td>@booking.PhoneNumber</td>
                        <td>@booking.Status</td>
                    </tr>
                }
            }
        </tbody>
    </table>
  

</div>

<script src="~/assets/js/commonfunction.js"></script>
<partial name="_DataTableScriptPartial" />
<script>

    $(document).ready(function () {
        ApplyCommonGridStyle();
    });
</script>
